
body{
	font-family: 'Archivo Narrow', sans-serif}

h1 {
	font-size: 80px;
	margin:0 0 0px 0;}


h2{
	font-size: 30px;
	margin: 0;
	padding:0; 
	}

h3{
	margin:0 0 36px 0;
	text-align: center;
	font-size: 40px;

}

header 
{background-color: rgba(255,0,0,.5);
text-align: center;
padding:150px 2px 182px 0;
background-image: url('../images/pat.jpg');
background-size: contain;
color: white;
}

p {
font-size: 18px;
font-weight: 600;
letter-spacing: -.4px;
line-height: 25px;
}

section > div {
	width: 960px;
	margin: auto;
	padding: 36px 0 0 0;
}

.section_1 img {
	float: right;
	margin-left: 28px;
	margin-bottom:32px;
	width: 400px;
	height: 300px;
}

section.section_1 {
	background-color: lavender;
	padding-bottom:35px;
	}
	/*background-color: rgba(0,0, 200,.2);

}



	





