body{
	font-family: 'Merriweather', serif;
	background-color: rgb(242, 255, 251);
	font-size: 24px;
}
h1{
	color: #f26888;}
.stylename {
	color: #04767a;
	font-size: 2rem;
	}
.Font-Weight {
	font-weight: bold;}
.Font-Style{
	font-style: italic;}
#spacing{
	letter-spacing: 3px;}
#spacingsmall{
	letter-spacing: 2px;}
#uppercase {
	text-transform: uppercase;}
#lowercase {
	text-transform: lowercase;}
#Underline {
	text-decoration: underline;}
#Overline {
	text-decoration: overline;}
#line-through {
	text-decoration: line-through;}
footer {
	font-size: 12pt;
	text-align: center;}
div { 
	font-size: 1rem; }
